.launch{
    box-shadow: 2px 2px 2px 2px darkgrey;
    width:900px;
    height: 200px;
    display: flex;
    border-radius:10px;
    cursor: pointer;
    /* remove it in forther
    margin-left: 50px;*/
    margin-top: 50px;
}
.launch img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.content{
    width:80%;
    margin-left: 20px; 
    color: cadetblue;
}
.content .info{
    display: flex;
    justify-content: space-between;
}
.content p{
    font-size:20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: gray;
}